<div class="fund-summary container">
    <div class="row">
        <div class="col-lg-7">
            <div class="card chart values-chart">
                <div class="title">
					<img src="../images/dashboard/trending-up.png" />
				    <span>VALUES CHART</span>
				</div>
                <div>
                    <div id="valuesChart"></div>
                    <span id="noDataValuesChart" style="display: none;">No data to display chart</span>
                </div>
            </div>
        </div>
		<div class="col-lg-5">
            <div class="card chart">
                <div class="title">
					<img src="../images/dashboard/assets-icon.png" />
				    <span>ASSETS</span>
				</div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="btn-group" data-toggle="buttons">
                            <span class="btn active">
                                <input type="radio" name="chart-options" id="allocation" autocomplete="off" checked> ALLOCATION
                            </span>
                            <span class="btn">
                                <input type="radio" name="chart-options" id="variation" autocomplete="off"> RETURN
                            </span>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div id="allocation-chart"></div>
                    <div id="variation-chart" style="display: none;"></div>
				</div>
            </div>
        </div>
    </div>
</div>