<div class="fund-summary container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="title">
					<img src="../images/dashboard/trending-up.png"
                         srcset="../images/dashboard/trending-up@2x.png 2x, ../images/dashboard/trending-up@3x.png 3x">
				    <span>VALUES CHART</span>
				</div>
            </div>
        </div>
		<div class="col-md-4">
            <div class="card">
                <div class="title">
					<img src="../images/dashboard/assets-icon.png"
                         srcset="../images/dashboard/assets-icon@2x.png 2x, ../images/dashboard/assets-icon@3x.png 3x">
				    <span>ASSETS</span>
				</div>
				<div class="row">
					<div id="assets-chart"></div>
				</div>
            </div>
        </div>
    </div>
</div>