<div class="fund-summary container">
    <div class="row">
		<div class="col-xs-12">
			<div class="card">
				<div class="title">
					<img src="../images/dashboard/bar-chart-2.png"
                         srcset="../images/dashboard/bar-chart-2@2x.png 2x, ../images/dashboard/bar-chart-2@3x.png 3x">
				    <span>MY COMPANY FUND</span>
				</div>
                <div class="sumary-info row">
                    <div class="col-lg-2">
                        <span class="money">30.000</span>
                        <div class="label">TOTAL INVESTED</div>
                    </div>
                    <div class="col-lg-2">
                        <span class="money">1.800</span>
                        <div class="label">TOTAL VESTED</div>
                    </div>
                    <div class="col-lg-2">
                        <span class="money">5.000</span>
                        <div class="label">TOTAL TOKEN</div>
                    </div>
                    <div class="col-lg-2">
                        <span>12</span><span>DEC</span><span>18</span>
                        <div class="label">NEXT VESTING DATE</div>
                    </div>
                    <div class="col-lg-2">
                        <span class="money">870</span>
                        <div class="label">FEE PAID (FUND)</div>
                    </div>
                    <div class="col-lg-2">
                        <span class="money">342</span>
                        <div class="label">FEE PAID (AUCTUS)</div>
                    </div>
                </div>
			</div>
		</div>
    </div>
</div>