@model string
<div class="fund-summary container">
    <div class="row">
		<div class="col-xs-12">
			<div class="card">
				<div class="title">
					<img src="../images/dashboard/bar-chart-2.png" />
				    <span>@Model</span>
				</div>
                <div class="sumary-info row">
                    <div class="col-lg-2">
                        <span class="money" id="totalInvested">-</span>
                        <div class="label">TOTAL INVESTED</div>
                    </div>
                    <div class="col-lg-2">
                        <span class="money" id="totalVested">-</span>
                        <div class="label">TOTAL VESTED</div>
                    </div>
                    <div class="col-lg-2">
                        <span id="totalToken">-</span>
                        <div class="label">TOTAL TOKEN</div>
                    </div>
                    <div class="col-lg-2">
                        <div id="nextVestingDate"><span>-</span></div>
                        <div class="label">NEXT VESTING DATE</div>
                    </div>
                    <div class="col-lg-2">
                        <span class="money" id="feePaid">-</span>
                        <div class="label">FEE PAID (FUND)</div>
                    </div>
                    <div class="col-lg-2">
                        <span class="money" id="auctusFee">-</span>
                        <div class="label">FEE PAID (AUCTUS)</div>
                    </div>
                </div>
			</div>
		</div>
    </div>
</div>