<div class="fund-summary container">
    <div class="row">
		<div class="col-xs-12">
			<div class="card">
				<div class="title">
					<img src="../images/dashboard/bar-chart-2.png"
                         srcset="../images/dashboard/bar-chart-2@2x.png 2x, ../images/dashboard/bar-chart-2@3x.png 3x">
				    <span>MY COMPANY FUND</span>
				</div>
			</div>
		</div>
    </div>
</div>