<div class="dashboard-container dashboard-container-full header-dashboard">
    <div class="auctus-logo auctus-logo-margin"><a target="_blank" href="https://auctus.org"><img src="/images/logo.png" height="40" /></a></div>
    <div class="header-icon plus-circle plus-circle-width"><a target="_blank" href="https://demo.auctus.org"><img src="~/images/plus-circle.png" height="20" /></a></div>
    <div class="header-text new-simulation"><span onclick="window.open('https://demo.auctus.org');">NEW SIMULATION</span></div>
    <div class="header-icon share-symbol"><img src="~/images/share.png" height="20" /></div>
    <div class="header-text share"><span>SHARE</span></div>
</div>

