<div class="fund-summary container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="title">
                    <img src="../images/dashboard/clock.png"
                         srcset="../images/dashboard/clock@2x.png 2x, ../images/dashboard/clock@3x.png 3x">
                    <span>TRANSACTION HISTORY</span>
                </div>
                <div class="history-table">
                    <div class="row table-header">
                        <div class="col-3">
                            <span>TRANSACTION DATE</span>
                        </div>
                        <div class="col-3">
                            <span>EMPLOYEE CONTRIBUTION</span>
                        </div>
                        <div class="col-3">
                            <span>EMPLOYER CONTRIBUTION</span>
                        </div>
                        <div class="col-3">
                            <span>STATUS</span>
                        </div>
                    </div>
                    <div class="row pending">
                        <div class="col-3">
                            <span>18 - 09 - 2017</span>
                        </div>
                        <div class="col-3">
                            <span>$ 100</span> <span class="view-tx">View Tx</span>
                        </div>
                        <div class="col-3">
                            <span>$ 100</span> <span  class="view-tx">View Tx</span>
                        </div>
                        <div class="col-3">
                            <span>Pending</span>
                        </div>
                    </div>

                    <div class="row confirmed">
                        <div class="col-3">
                            <span>18 - 09 - 2017</span>
                        </div>
                        <div class="col-3">
                            <span>$ 100</span> <span class="view-tx">View Tx</span>
                        </div>
                        <div class="col-3">
                            <span>$ 100</span> <span class="view-tx">View Tx</span>
                        </div>
                        <div class="col-3">
                            <span>Pending</span>
                        </div>
                    </div>
                    <div class="row confirmed">
                        <div class="col-3">
                            <span>18 - 09 - 2017</span>
                        </div>
                        <div class="col-3">
                            <span>$ 100</span> <span class="view-tx">View Tx</span>
                        </div>
                        <div class="col-3">
                            <span>$ 100</span> <span class="view-tx">View Tx</span>
                        </div>
                        <div class="col-3">
                            <span>Pending</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>