<div class="fund-summary container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card history-card">
                <div class="title">
                    <img src="../images/dashboard/clock.png"
                         srcset="../images/dashboard/clock@2x.png 2x, ../images/dashboard/clock@3x.png 3x">
                    <span>TRANSACTION HISTORY</span>
                </div>
                <div class="history-table">
                    <div class="row table-header">
                        <div class="col-3">
                            <span>TRANSACTION DATE</span>
                        </div>
                        <div class="col-3">
                            <span>EMPLOYEE TOKEN</span>
                        </div>
                        <div class="col-3">
                            <span>EMPLOYER TOKEN</span>
                        </div>
                        <div class="col-3">
                            <span>STATUS</span>
                        </div>
                    </div>
                    <div class="table-content" style="display:none">
                        <div class="row row-template">
                            <div class="col-3">
                                <span>{TRANSACTION_DATE}</span>
                            </div>
                            <div class="col-3">
                                <span style="width: 40px; display: inline-block;">{EMPLOYEE_TOKEN}</span> <a class="{EMPLOYEE_TRANSACTION_LINK_CLASS}" href="{EMPLOYEE_TRANSACTION_LINK}" target="_blank"><span class="view-tx">View Tx</span></a>
                            </div>
                            <div class="col-3">
                                <span style="width: 40px; display: inline-block;">{EMPLOYER_TOKEN}</span> <a class="{EMPLOYER_TRANSACTION_LINK_CLASS}" href="{EMPLOYER_TRANSACTION_LINK}" target="_blank"><span class="view-tx">View Tx</span></a>
                            </div>
                            <div class="col-3 {TRANSACTION_STATUS_CLASS}">
                                <div class="bullet"></div><span>{TRANSACTION_STATUS}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>