<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-title-center modal-header">
                <h4 class="modal-title"><span>WITHDRAW</span></h4>
            </div>
            <div class="modal-body">
                <div class="dashboard-container dashboard-container-full">
                    <div class="modal-withdraw-container">
                        <div class="modal-withdraw-internal"><img src="~/images/user-plus.png" height="20" width="22" /></div>
                        <div class="modal-withdraw-internal modal-money"><span id="employeeReceivable">30,000.00</span></div>
                        <div class="modal-withdraw-internal modal-money-label">EMPLOYEE RECEIVABLE</div>
                    </div>
                    <div class="modal-withdraw-container">
                        <div class="modal-withdraw-internal"><img src="~/images/briefcase.png" height="20" width="22" /></div>
                        <div class="modal-withdraw-internal modal-money"><span id="companyReceivable">10,450.20</span></div>
                        <div class="modal-withdraw-internal modal-money-label">COMPANY RECEIVABLE</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Cancel</span></button>
                <button id="confirmWithdraw" type="button" class="btn btn-primary"><span>Confirm</span></button>
            </div>
        </div>
    </div>
</div>
