
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <section>
        <br/>
        <br />
        <br />
        <div class="panel"></div>


        <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="companyName">Contract Deploy</label>
                    <button type="button" class="btn form-control btn-default deploy-button">Deploy</button>
                    <p class="deploy-message"></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="bonusFee">Payment Confirmation</label>
                    <button type="button" class="btn form-control btn-default pay-button">Pay</button>
                    <p class="pay-message"></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="maxBonusFee">Withdraw Confirmation</label>
                    <button type="button" class="btn form-control btn-default withdraw-button">Withdraw</button>
                    <p class="withdraw-message"></p>
                </div>
            </div>
        </div>

    </section>
</div>

@section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/signalr/jquery.signalR.js"></script>
        <script src="signalr/hubs"></script>

        <script>
            $('.deploy-button').on('click', function addToCart(id) {
                $.ajax({
                    url: '@Url.Action("Deploy")',
                    beforeSend: function (request) {
                        request.setRequestHeader("HubConnectionId", hub.connection.id);
                    },
                    data: { id: id },
                    success: function (data) {
                        $('.deploy-message').text(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                    }
                });
            });


            var connection = $.hubConnection();
            var hub = connection.createHubProxy("AuctusDemo");


            var deploy = function (msg) {
                $('.deploy-message').text(msg);
            };
                      
            hub.on('deploy', deploy);

            hub.on('deployCompleted', Wizard.Operations.OnDeployCompleted);

            connection.start();
        </script>
    }