<div class="text-center">
    <div id="contract-being-deployed">
        <div class="contract-deploy-title">YOUR CONTRACT IS BEING DEPLOYED</div>
        <div class="contract-deploy-subtitle">The mining could take some time. In the meantime, feel free to check the source code below!</div>
        <div><a class="contract-deploy-link contract-deploy-tx-id-link" target="_blank" href="">View Transaction <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
    </div>
    <div id="contract-deployed" style="display:none">
        <div class="contract-deploy-title"><img src="~/images/deployContract/check-circle.png" />CONTRACT DEPLOYED</div>
        <div class="contract-deploy-subtitle">All good! Proceed to the next step to see your personal dashboard!</div>
        <div>
            <a class="contract-deploy-link contract-deploy-tx-id-link" target="_blank" href="">View Transaction <i class="fa fa-external-link" aria-hidden="true"></i></a>
            <a class="contract-deploy-link contract-deploy-contract-address-link" target="_blank" href="">View Contract <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div id="contract-deploy-code-wrapper" class="form-group">
    <textarea id="contract-deploy-code"></textarea>
</div>
<div class="pull-right">
    <button id="btn-contract-deploy-next" type="button" class="btn btn-primary" disabled="disabled">Next</button>
</div>
