<div class="text-center">
    <div id="contract-deploy-title">YOUR CONTRACT IS BEING DEPLOYED</div>
    <div id="contract-deploy-subtitle">The mining could take some time. In the meantime, feel free to check the source code below!</div>
    

    <h5 style="display:none" id="contract-deploy-tx-id-title">Tx Id: <a id="contract-deploy-tx-id-link" target="_blank" href=""></a></h5>
    <h5 id="contract-deploy-icon" class=""></h5>
    <h5 id="try-again" class="btn btn-link">Try again</h5>
</div>

<div id="contract-deploy-code-wrapper" class="form-group">
    <textarea id="contract-deploy-code"></textarea>
</div>
<div class="pull-right">
    <button id="btn-contract-deploy-next" type="button" class="btn btn-primary" disabled="disabled">Next</button>
</div>
