<div class="text-center">
    <h4 id="contract-deploy-title">Deploying Contract...</h4>
    <h5 style="display:none" id="contract-deploy-tx-id-title">Tx Id: <a id="contract-deploy-tx-id-link" target="_blank" href=""></a></h5>
    <h5 id="contract-deploy-icon" class="fa fa-spinner fa-spin fa-fw"></h5>
</div>

<div id="contract-deploy-code-wrapper" class="form-group">
    <textarea id="contract-deploy-code"></textarea>
</div>
<div class="pull-right">
    <button id="btn-contract-deploy-next" type="button" class="btn btn-primary" disabled="disabled">Next</button>
</div>
