@{
    Layout = "~/Views/Shared/_ModalBase.cshtml";
}

@section ModalElements{id="modal-contract-deploy"}

@section ModalHeaderClass{ text-center}

@section ModalHeader{
    <h4 id="modal-contract-deploy-title">Deploying Contract...</h4>
    <h5 style="">Tx Id: <a target="_blank" href="https://ropsten.etherscan.io/tx/0x14b9be2858175a5cc3d0e908f9f09f97fb4f7a5f04a2139f099c1d416e7cafe3">0x14b9be2858175a5cc3d0e908f9f09f97fb4f7a5f04a2139f099c1d416e7cafe3</a></h5>
    <h5 id="modal-contract-deploy-icon" class="fa fa-spinner fa-spin fa-fw"></h5>
}

@section ModalBody{
    <code id="modal-contract-deploy-code"></code>
}

@section ModalFooter{
    <button id="btn-modal-contract-deploy-next" type="button" class="btn btn-primary" disabled="disabled" data-dismiss="modal">Next</button>
}