<form id="registerEmployee">
        <div class="row">
            <div class="col-lg-12 left">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group col-title">EMPLOYEE REGISTER</div>
                        <div class="form-group bmd-form-group">
                            <label for="employeeNameInput" class="bmd-label-static">EMPLOYEE NAME</label>
                            <input type="text" class="form-control" id="employeeNameInput" placeholder="Enter employee name" />
                        </div>
                        <div class="form-group bmd-form-group">
                            <label for="salaryInput" class="bmd-label-static">SALARY</label>
                            <input type="number" pattern="[0-9]+([\.][0-9]+)?" min="0" max="20000" class="form-control" id="salaryInput" placeholder="USD 000.00"
                                   data-toggle="popover"
                                   data-trigger="focus"
                                   data-placement="right"
                                   title="EMPLOYEE SALARY"
                                   data-content="<div>The employee salary should be informed in US$ dollars. The range accepted is between <strong>$1 and $20.000.</strong></div><br/><div class='inline-content'><span class='eth-pop-img'><img src='/images/ethereum.png'></span><div class='btn-chart-help'>For simulation purposes we are considering <strong>$1 = 1SZABO</strong></div></div>"
                                   data-html="true">
                        </div>
                        <div class="form-group bmd-form-group">
                            <label for="contributionInput" class="bmd-label-static">CONTRIBUTION</label>
                            <input type="number" pattern="[0-9]+([\.][0-9]+)?" min="0" max="100" class="form-control" id="contributionInput" placeholder="00%"
                                   data-toggle="popover"
                                   data-trigger="focus"
                                   data-placement="right"
                                   title="CONTRIBUTION"
                                   data-content="<div class='salary-popover'>Contribution indicates the portion of the salary that will go to the pension fund.</div><br/><div class='pull-right'><strong>Choose a value between 0-100%.</strong></div>"
                                   data-html="true">
                        </div>
                        <div class="g-recaptcha" data-sitekey="@Auctus.Util.NotShared.Config.GOOGLE_CAPTCHA_KEY"></div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>
</form>