<div class="row col-md-offset-2 col-md-7 clearfix form-group">
    <h2 class="col-md-offset-1 col-md-11">Contribution Rules</h2>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix" style="margin-top:50px;">
    <div class="col-md-offset-1 col-md-12">
        <div class="form-group">
            <input class="form-control" placeholder="" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="" />
        </div>
    </div>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix">
    <div class="col-md-offset-1 col-md-12">
        <button type="button" class="btn btn-default prev-step">Save</button>
        <button type="button" class="btn pull-right btn-primary next-step">Next</button>
    </div>
</div>