<form role="form">
    <div class="row clearfix form-group">
        <h2 class="col-md-12">Contract Rules</h2>
    </div>
    <div class="row clearfix">
        
        <div id="vesting-content" class="col-md-12">
            <span id="vesting-error" class="help-block" style="display:none"></span>
            <div id="" class="form-inline form-group">
                <div class="form-group">
                    <label style="width:45px;">Period (Years)</label>
                    <label style="margin-left:10px;width:400px;display:inline-block">
                        Vesting Percentage
                    </label>
                    
                </div>
            </div>
            <div id="vesting-row-template" class="form-inline form-group vesting-row" style="display:none">
                <div class="form-group">
                    <input class="form-control vesting-period" placeholder="" style="width:45px;" value="template" />
                    <div data-index="template" id="slider-range-template" style="width:400px;display:inline-block;margin-left:10px;margin-right:40px">
                        <div id="slider-value-1-template" class="ui-slider-handle ui-state-default ui-corner-all"
                             style="left: 100%;
                                width: 3em;
                                height: 1.6em;
                                text-align: center;
                                margin-top: -0.1em;"></div>
                        <div id="slider-value-2-template" class="ui-slider-handle ui-state-default ui-corner-all vesting-percentage"
                             style="left: 100%;
                                width: 3em;
                                height: 1.6em;
                                text-align: center;
                                margin-top: -0.1em;"></div>
                    </div>
                    
                    <button id="btn-remove-template" type="button" class="btn btn-danger btn-remove-slider" placeholder=""><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <button type="button" class="btn btn-default prev-step">Previous</button>
            <button type="button" class="btn pull-right btn-primary next-step" id="wizard-save-button">Save</button>
        </div>
    </div>
</form>