<div class="row col-md-offset-2 col-md-7 clearfix form-group">
    <h2 class="col-md-offset-1 col-md-11">Register Employee</h2>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix">
    <div class="col-md-offset-1 col-md-12">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" placeholder="Name" id="name" />
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" placeholder="Salary" id="salary"/>
            </div>
        </div>
        <div class="form-group">
            <label for="contributionPercentage">Contribution Percentage</label>
            <div class="input-group">
                <span class="input-group-addon">%</span>
                <input class="form-control" placeholder="Contribution Percentage" id="contributionPercentage" />
            </div>
        </div>
    </div>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix">
    <div class="col-md-offset-1 col-md-12">
        <button type="button" class="btn btn-default prev-step">Previous</button>
        <button type="button" class="btn pull-right btn-primary next-step">Next</button>
    </div>
</div>