<form>
    <div class="row form-group">
        <h2 class="col-md-12">Register Fund</h2>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <label for="fundName">Fund Name</label>
                <input name="Fund Name" type="text" placeholder="Fund Name" class="form-control" id="fundName" maxlength="50"/>
            </div>
            <div class="form-group">
                <label for="email">Fee</label>
                <input min="0" max="99" name="Fee" placeholder="Fee" class="form-control" id="fee" type="number" required/>
            </div>
            <div class="form-group">
                <label for="email">Late Payment Fee</label>
                <input min="0" name="Late Payment Fee" placeholder="Fee" class="form-control" id="latePaymentFee" type="number" required />
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <button type="button" class="btn pull-right btn-primary next-step">Next</button>
        </div>
    </div>
</form>
