<div class="row col-md-offset-2 col-md-7 clearfix form-group">
    <h2 class="col-md-offset-1 col-md-11">Register Fund</h2>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix">
    <div class="col-md-offset-1 col-md-12">
        <div class="form-group">
            <label for="fundName">Fund Name</label>
            <input type="text" placeholder="Fund Name"  class="form-control" id="fundName" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" class="form-control" id="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" class="form-control" id="password" />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" class="form-control" id="confirmPassword" />
        </div>
    </div>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix">
    <div class="col-md-offset-1 col-md-12">
        <button type="button" class="btn pull-right btn-primary next-step">Next</button>
    </div>
</div>