<div class="row col-md-offset-2 col-md-7 clearfix form-group">
    <h2 class="col-md-offset-1 col-md-11">Register Company</h2>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix">
    <div class="col-md-offset-1 col-md-12">
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input class="form-control" placeholder="Company Name" id="companyName"/>
        </div>
        <div class="form-group">
            <label for="bonusFee">Bonus Fee</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">%</span>
                <input class="form-control" placeholder="Bonus Fee" id="bonusFee"/>
            </div>
        </div>
        <div class="form-group">
            <label for="maxBonusFee">Max Bonus Fee</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">%</span>
                <input class="form-control" placeholder="Max Bonus Fee" id="maxBonusFee"/>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-offset-2 col-md-7 clearfix">
    <div class="col-md-offset-1 col-md-12">
        <button type="button" class="btn btn-default prev-step">Previous</button>
        <button type="button" class="btn pull-right btn-primary next-step">Next</button>
    </div>
</div>