﻿<form id="registerFund">
    <div class="row">
        <div class="col-lg-6 left">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-7">
                    <div class="form-group col-title">PENSION FUND REGISTER</div>
                    <div class="form-group bmd-form-group">
                        <label for="fundNameInput" class="bmd-label-static">FUND NAME</label>
                        <input type="text" class="form-control" id="fundNameInput" placeholder="Enter fund name" />
                    </div>
                    <div class="form-group bmd-form-group">
                        <label for="fundFeeInput" class="bmd-label-static">FUND FEE</label>
                        <input type="number" pattern="[0-9]" min="0" max="100" class="form-control onlyInteger" id="fundFeeInput" placeholder="00%" 
                               data-toggle="popover" 
                               data-trigger="focus"
                               data-placement="right"
                               title="FUND FEE"
                               data-content="<div>This fee covers the cost of administration, and are usually included in the annual management charge.</div><br/><div><strong>Choose a value between 0-100%.</strong></div>"
                               data-html="true">
                    </div>
                </div>
                <div class="col-lg-1">
                </div>
            </div>
        </div>
        <div class="col-lg-6 right">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-7">
                    <div class="form-group col-title">ASSETS ALLOCATION</div>
                    <div class="form-group bmd-form-group asset-input-group">
                        <span class="asset-input-group-left" data-carousel-sequential="0">
                            <img src="~/images/chart.png" />
                        </span>
                        <div class="asset-input-group-label">
                            GOLD
                        </div>
                        <input id="goldAllocationInput" class="onlyInteger" placeholder="00" type="number" pattern="[0-9]" min="0" max="100" step="1" 
                               data-toggle="popover" 
                               data-trigger="focus"
                               title="ASSETS ALLOCATION"
                               data-content="<div>This is the asset allocation of your fund. You decide which percentage of your total portfolio to invest in different assets. Just remember: <strong>the final total must be 100%.</strong></div><br/><div class='inline-content'><span class='btn-chart-img'><img src='/images/chart.png'></span><div class='btn-chart-help'>To help you decide, you can click in this icon and check, for each asset, its performance history for the last 5 years.</div></div>"
                               data-html="true"
                               data-placement="left"
                               data-offset="20 200"/>
                        <div class="asset-input-group-percent-label">%</div>
                    </div>
                    <div class="form-group bmd-form-group asset-input-group">
                        <span class="asset-input-group-left" data-carousel-sequential="1">
                            <img src="~/images/chart.png" />
                        </span>
                        <div class="asset-input-group-label">
                            S&P
                        </div>
                        <input id="spAllocationInput" class="onlyInteger" placeholder="00" type="number" pattern="[0-9]" min="0" max="100" step="1" />
                        <div class="asset-input-group-percent-label">%</div>
                    </div>
                    <div class="form-group bmd-form-group asset-input-group">
                        <span class="asset-input-group-left" data-carousel-sequential="2">
                            <img src="~/images/chart.png" />
                        </span>
                        <div class="asset-input-group-label">
                            VWEHX(BONDS)
                        </div>
                        <input id="vwehxAllocationInput" class="onlyInteger" placeholder="00" type="number" pattern="[0-9]" min="0" max="100" step="1" />
                        <div class="asset-input-group-percent-label">%</div>
                    </div>
                    <div class="form-group bmd-form-group asset-input-group">
                        <span class="asset-input-group-left" data-carousel-sequential="3">
                            <img src="~/images/chart.png" />
                        </span>
                        <div class="asset-input-group-label">
                            MSCI WORLD
                        </div>
                        <input id="msciAllocationInput" class="onlyInteger" placeholder="00" type="number" pattern="[0-9]" min="0" max="100" step="1" />
                        <div class="asset-input-group-percent-label">%</div>
                    </div>
                    <div class="form-group bmd-form-group asset-input-group">
                        <span class="asset-input-group-left" data-carousel-sequential="4">
                            <img src="~/images/chart.png" />
                        </span>
                        <div class="asset-input-group-label">
                            BITCOIN
                        </div>
                        <input id="bitcoinAllocationInput" class="onlyInteger" placeholder="00" type="number" pattern="[0-9]" min="0" max="100" step="1" />
                        <div class="asset-input-group-percent-label">%</div>
                    </div>
                    <div class="total-assets">
                        <div class="total-assets-label">TOTAL ALLOCATED</div>
                        <div class="total-assets-value">00</div>
                        <div class="total-assets-pecent-label">%</div>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="assetInformationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-asset-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="asset-title">GOLD NOMINAL RETURN</div>
                            <div class="asset-graph" id="goldGraph">
                                <div class="fa fa-spinner fa-spin fa-fw"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="asset-title">S&P NOMINAL RETURN</div>
                            <div class="asset-graph" id="sandpGraph">
                                <div class="fa fa-spinner fa-spin fa-fw"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="asset-title">VWEHX NOMINAL RETURN</div>
                            <div class="asset-graph" id="vwehxGraph">
                                <div class="fa fa-spinner fa-spin fa-fw"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="asset-title">MSCI WORLD NOMINAL RETURN</div>
                            <div class="asset-graph" id="msciGraph">
                                <div class="fa fa-spinner fa-spin fa-fw"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="asset-title">BITCOIN NOMINAL RETURN</div>
                            <div class="asset-graph" id="btcGraph">
                                <div class="fa fa-spinner fa-spin fa-fw"></div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <img src="~/images/chevron-left.png" />
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <img src="~/images/chevron-right.png" />
                    </a>
                </div>
                <div class="line-separator"></div>
                <div class="asset-disclaimer">This graph is for general information and illustrative purposes only and is not intended to serve as financial, investment or any other type of advice. Auctus makes no representation as to the accuracy of the information and any reliance on any information on this demo shall be at the user's own risk.</div>
            </div>
        </div>
    </div>
</div>