<form>
    <div class="col-lg-6 left">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-7">
                <div class="form-group col-title">PENSION FUND REGISTER</div>
                <div class="form-group bmd-form-group">
                    <label for="fundNameInput" class="bmd-label-static">FUND NAME</label>
                    <input type="text" class="form-control" id="fundNameInput" placeholder="Enter fund name"/>
                </div>
                <div class="form-group bmd-form-group">
                    <label for="fundFeeInput" class="bmd-label-static">FUND FEE</label>
                    <input type="number" class="form-control" id="fundFeeInput" placeholder="00%" data-toggle="popover" data-trigger="focus" 
                           title="FUND FEE"
                           data-content="<div>This fee covers the cost of administration, and are usually included in the annual management charge. However, older pensions may have a separate policy fee.</div><br/><div><strong>Choose a value between 0-100%.</strong></div>" 
                           data-html="true">
                </div>
                <div class="form-group bmd-form-group">
                    <label for="latePenaltyInput" class="bmd-label-static">LATE PENALTY</label>
                    <input type="number" class="form-control" id="latePenaltyInput" placeholder="00%">
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
    <div class="col-lg-6 right">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-7">
                <div class="form-group col-title">ASSETS DISTRIBUTION</div>
                <div class="form-group bmd-form-group asset-input-group">
                    <span class="asset-input-group-left">
                        <img src="~/images/chart.png" />
                    </span>
                    <div class="asset-input-group-label">
                        GOLD
                    </div>
                    <input placeholder="00"/>
                    <div class="asset-input-group-percent-label">%</div>
                </div>
                <div class="form-group bmd-form-group asset-input-group">
                    <span class="asset-input-group-left">
                        <img src="~/images/chart.png" />
                    </span>
                    <div class="asset-input-group-label">
                        S&P
                    </div>
                    <input placeholder="00" />
                    <div class="asset-input-group-percent-label">%</div>
                </div>
                <div class="form-group bmd-form-group asset-input-group">
                    <span class="asset-input-group-left">
                        <img src="~/images/chart.png" />
                    </span>
                    <div class="asset-input-group-label">
                        BONDS
                    </div>
                    <input placeholder="00" />
                    <div class="asset-input-group-percent-label">%</div>
                </div>
                <div class="form-group bmd-form-group asset-input-group">
                    <span class="asset-input-group-left">
                        <img src="~/images/chart.png" />
                    </span>
                    <div class="asset-input-group-label">
                        MSCI WORLD
                    </div>
                    <input placeholder="00" />
                    <div class="asset-input-group-percent-label">%</div>
                </div>
                <div class="form-group bmd-form-group asset-input-group">
                    <span class="asset-input-group-left">
                        <img src="~/images/chart.png" />
                    </span>
                    <div class="asset-input-group-label">
                        BTC
                    </div>
                    <input placeholder="00" />
                    <div class="asset-input-group-percent-label">%</div>
                </div>
                <div class="total-assets">
                    <div class="total-assets-label">TOTAL DISTRIBUTED</div>
                    <div class="total-assets-value">00</div>
                    <div class="total-assets-pecent-label">%</div>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="next-button next-step" disabled="disabled">
            <span class="next-button-label">NEXT</span>
            <span class="next-button-icon"></span>
        </div>
    </div>
</form>