﻿<div style="text-align: center; margin-top:10px">
    <div id="graphdiv"></div>
</div>
<div class="container landing">
    <div class="row" style="text-align: center; margin-bottom: 60px;">
        <div class="col-md-12">
            <img src="~/images/logo.png" class="landing-logo">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 wizard-container">
            <div class="row">
                <div class="step active" id="step0" data-step-id="0">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-4 left">
                            <div class="pig-container">
                                <img src="~/images/landing/img-pig.png" class="img-pig" />
                            </div>
                        </div>
                        <div class="col-lg-7 right">
                            <div class="welcome-container">
                                <span class="welcome">WELCOME</span>
                                <span class="get-to-know">GET TO KNOW OUR PRODUCT</span>
                            </div>
                            <div class="demo-description">
                                <p>This demo was created to illustrate how Auctus aims to utilize the Ethereum Network, by emulating retirement plan constraints (for example 401(k) plans) into Smart Contracts.</p>
                                <p>Auctus is creating a product that will revolutionize the retirement market by providing smart contract powered retirement plans. We intend to make the creation of employer-sponsored retirement plans really simple, allowing companies of any size and from anywhere in the world to offer this benefit for its employees.</p>
                                
                                <i>DISCLAIMER: this is a demo, certain assumptions and simplifications were made to make the demo more understandable. We are for example using historical data to simulate performance.</i></p>
                            </div>
                            <a href="@Url.Action("StartDemo", "Home")" tabindex="1">
                                <div class="buttons-control-div" >
                                    <div class="start-button">
                                        <span class="next-button-label">START&nbsp;DEMO</span>
                                        <img src="~/images/landing/play.png" class="play-ico" />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-blue-rectangle"></div>
        <img src="~/images/landing/img-wave.png" class="img-landing-waves" />
        <img src="~/images/landing/img-dots.png" class="img-landing-dots" />
    </div>
</div>
@section style{
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/loading.css" />
    <link rel=stylesheet href="~/lib/codemirror/codemirror.css">
    <link rel=stylesheet href="~/lib/noUiSlider/nouislider.min.css">
}

@section scripts{
    <script src="~/lib/codemirror/codemirror.js"></script>
    <script src="~/lib/codemirror/mode/javascript.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
    <script type="text/javascript" src="~/lib/noUiSlider/nouislider.min.js"></script>
    <script src="~/js/registerCompany.js" asp-append-version="true"></script>
    <script src="~/js/registerEmployee.js" asp-append-version="true"></script>
}