﻿<div style="text-align: center; margin-top:10px">
    <div id="graphdiv"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 wizard-container" style="text-align: center;">
            <div class="row">
                <div class="step active" id="step0" data-step-id="0">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-4 left">
                            <div class="pig-container">
                                <img src="~/images/landing/img-pig.png" srcset="~/images/landing/img-pig@2x.png 2x, ~/images/landing/img-pig@3x.png 3x" class="img-pig">
                            </div>
                        </div>
                        <div class="col-lg-8 right">
                            <div class="row">
                                <span class="welcome">WELCOME</span>
                                <span class="get-to-know">GET TO KNOW OUR PRODUCT</span>
                            </div>
                            <div class="row">
                                <p>We believe in the importance of the community support while building our project so we shall reserve 1,600,000 AUC i.e. AUCTUS tokens for several bounties, which we will distribute to everyone who supports AUCTUS before and during the ICO.</p>
                                <p>We have a strong team working hard to make everything happen and participating on our bounty program will give you the opportunity to be part of AUCTUS with us.</p>
                                <p>Doubts? Access <a href="https://auctus.org/">auctus.org</a> and learn more.</p>
                            </div>
                            <div class="buttons-control-div" onclick="window.location.href = '@Url.Action("StartDemo", "Home")';">
                                <div class="start-button">
                                    <span class="next-button-label">START&nbsp;DEMO</span>
                                    <img src="~/images/landing/play.png" srcset="~/images/landing/play@2x.png 2x, ~/images/landing/play@3x.png 3x" class="play-ico">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section style{
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/loading.css" />
    <link rel=stylesheet href="~/lib/codemirror/codemirror.css">
    <link rel=stylesheet href="~/lib/noUiSlider/nouislider.min.css">
}

@section scripts{
    <script src="~/lib/codemirror/codemirror.js"></script>
    <script src="~/lib/codemirror/mode/javascript.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
    <script type="text/javascript" src="~/lib/noUiSlider/nouislider.min.js"></script>
    <script src="~/js/registerCompany.js" asp-append-version="true"></script>
    <script src="~/js/registerEmployee.js" asp-append-version="true"></script>
}