
<div class="row">
    <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Register Fund">
                            <span class="round-tab">
                                <i class="fa fa-building"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Register Company">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Register Employee">
                            <span class="round-tab">
                                <i class="fa fa-user"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Contract">
                            <span class="round-tab">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content col-md-offset-3 col-md-6">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        @Html.Partial("_RegisterFund")
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        @Html.Partial("_RegisterCompany")                        
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        @Html.Partial("_RegisterEmployee")
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        @*@Html.Partial("_RegisterContract")*@
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/home.js"></script>
}