.company-register .Vesting {
    width: 20px;
    height: 22px;
    object-fit: contain;
    float: left;
    margin-top: 0.2em;
}

.company-register .img-container {
    display: inline-block;
    float: left;
    min-width: 32px;
}

.company-register .img-container .number {
    position: relative;
    left: -16px;
    top: 4px;
    font-family: 'Helvetica Neue Bold';
    font-size: 11px;
    color: #00E6D1;
}

.company-register .vesting-title {
    font-family: HelveticaNeue;
    font-size: 10px;
    line-height: 1;
    text-align: left;
    color: #939598;
    float: left;
    padding: 6px 0px;
    margin-top: 0.3em;
}
    
@media (min-width: 640px) {
    .company-register .vesting-title {
        min-width: 180px;
    }
}

.input-percentage {
    float: left;
}

.input-percentage a, .input-percentage a:hover, .input-percentage a:active, .input-percentage a:visited, .input-percentage a:focus {
    text-decoration: none;
    cursor: default;
}

@media (max-width: 640px) {
    .input-percentage {
        float: right !important;
    }
}

.company-register .right .input {
    width: 57px;
}

.company-register .vesting-percentage {
    color: grey;
}

.company-register .percentage {
    width: 12px;
    height: 12px;
    font-family: HelveticaNeue;
    font-size: 12px;
    line-height: 1;
    text-align: right;
    color: #707070;
}

.modal-title {
    font-family: HelveticaNeue;
    font-size: 14px;
    letter-spacing: 0.9px;
    color: #231f20;
}

#advancedOptions .modal-title {
    position: absolute;
    left: 160px;
}

.modal-body p {
    font-family: HelveticaNeue;
    font-size: 12px !important;
    font-weight: 300;
    line-height: 1. 8;
    text-align: center;
    color: #707070;
}

#slider {
    margin: 20px;
    margin-top: 80px;
}

#slider.noUi-target {
    border: 0px;
    height: 2px;
}

#slider .noUi-base {
    border: 0px;
}

#slider .noUi-handle {
    width: 12px;
    height: 12px;
    background-color: #07dce0;
    border-radius: 50%;
    border: 0px;
    box-shadow: none;
    left: -8px;
    outline: none !important;
}

#slider .noUi-handle:nth-child(2) {
    background: #0243b7;
}

#slider .noUi-handle:before {
    content: none;
}
#slider .noUi-handle:after {
    content: none;
}
#slider .noUi-tooltip:focus {
    outline: none;
}
#slider .noUi-tooltip {
    background: #485465;
    min-width: 55px;
    margin-bottom: 5px;
}

#slider .noUi-tooltip.unselected {
    color: black;
    background: white;
}

#slider .noUi-tooltip.unselected .year, #slider .noUi-tooltip.unselected .percentage {
    color: black;
}

#slider .noUi-tooltip.unselected:after {
    border-top: solid 5px #D9D9D9;
}

#slider .noUi-tooltip .year {
    opacity: 0.4;
    font-family: HelveticaNeue;
    font-size: 9px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
}

#slider .noUi-tooltip .percentage {
    font-family: HelveticaNeue;
    font-size: 11px;
    letter-spacing: 0.2px;  
    text-align: left;
    color: #ffffff;
}

#slider .noUi-tooltip:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 5px #485465;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}