@model bool
<div class="col-lg-12">
	@if (Model == true)
	{
	    <div class="back-button prev-step">
	        <span class="back-button-icon"></span>
	    </div>
	}
	<div class="next-button next-step" disabled="disabled">
        <span class="next-button-label">NEXT</span>
        <span class="next-button-icon"></span>
    </div>
</div>