﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106121445-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-106121445-2');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auctus Demo - Set Up a Smart Contract Powered Retirement Plan</title>

    <link rel="stylesheet" href="~/lib/jquery-ui-min/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="~/lib/bootstrapcustom/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet" href="~/lib/dygraph/dygraph.css" />
    <link rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.14/beautify.min.js"></script>
    <script src="https://use.fontawesome.com/04d62b0ee0.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
   
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="background-color: rgb(250, 250, 252)">
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="~/lib/spinner/material.spinner.min.js"></script>
    <script>
        /*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
        $.widget.bridge('uibutton', $.ui.button);
        $.widget.bridge('uitooltip', $.ui.tooltip); 
    </script>
    <script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js" integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/bootstrap-material-design.min.js"></script>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
    @*<script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/signalr/hubs"></script>*@
    <script src="~/lib/dygraph/dygraph.min.js"></script>
    <script src="~/lib/numeraljs/numeral.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    

    
</body>
</html>

