<div class="row">
    <div class="col-md-12">
        <div class="stepper">
            <ul style="margin: auto;padding: 0;">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
</div>