@model int
<div class="row">
    <div class="col-md-12">
        <img src="/images/logo.png" style="position: absolute;left: 25px;top: 15px;height: 45px;">
        <div class="error-message" style="display: none">
            <span> We’re sorry, we had an unexpected error! Please try again in a minute.</span>
        </div>
        <div class="stepper">
            <ul style="margin: auto;padding: 0;">
                @if (Model == 1)
                {
                    <text>
                    <li class="active">1</li>
                    <li>2</li>
                    </text>
                }
                @if (Model == 2)
                {
                    <text>
                    <li style="border:0;"><img style="cursor:pointer" onclick="goToTab(2, 1)" src="~/images/ok.png" /></li>
                    <li class="active">2</li>
                    </text>
                }
            </ul>
        </div>
    </div>
</div>